.modal-add {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;

  transform: scale(1.1);
  visibility: hidden;
  opacity: 0;

  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  pointer-events: none;
}

.modal-add__wrapper {
  transform: translateZ(0);

  position: relative;

  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 60px 40px;

  background-color: rgba(0, 0, 0, 0.7);
}

.modal-add__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  cursor: pointer;
}

.modal-add__content {
  position: relative;

  max-width: 980px;
  padding: 77px 140px;

  text-align: center;

  border-radius: 30px;
  border: 1px solid #AFAFAF;
  background-color: #fff;
}

.modal-add.is-visible {
  transform: scale(1);
  visibility: visible;
  opacity: 1;

  pointer-events: auto;
}

.modal-add__title {
  max-width: 580px;
  margin-bottom: 40px;

  font-family: Merriweather;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-add__text {
  margin-bottom: 64px;

  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.modal-add__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #78EC6E;
  border-radius: 50%;
}

.modal-add__icon svg {
  width: 62px;
  height: 62px;
  flex-shrink: 0;
}

.overflow {
  overflow: hidden;
}

.modal-add__btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.modal-add__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  max-width: 360px;
  width: 100%;
  padding: 10px 16px;

  border-radius: 6px;
  background-color: #6d5bd0;
  color: #fff;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  border: none;
  transition: background-color 0.6s ease;
}

.modal-add__btn:hover {
  background-color: #6e6893;
}

@media (max-width: 1200px) {
  .modal-add__content {
    padding: 77px;
  }
}

@media (max-width: 767px) {
  .modal-add__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
  }

  .modal-add__title {
    font-size: 20px;
    line-height: 1.2;
  }

  .modal-add__text {
    margin-bottom: 45px;

    font-size: 14px;
  }

  .modal-add__btn {
    padding: 16px;
    font-size: 14px;
  }

  .modal-add__icon {
    width: 50px;
    height: 50px;

  }

  .modal-add__icon svg {
    width: 30px;
    height: 30px;
  }
}
